.main-page {
  background-image: url("/img/burial.jpg");
  background-position: cover;
  background-size: 800px;
  height: 100vh;
}

.bm-page {
  background-image: url("/img/abigor-bg.jpg");
  background-position: cover;
  background-size: 700px;
  height: 100vh;
}

.ds3-page {
    background-image: url("/img/ds3-background.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 1540px;
    height: 100vh;
}

.residency-page {
      background-image: url("/img/skoropaskyi-img.jpg");
      background-position: cover;
      background-repeat: no-repeat;
      background-size: 1310px;
      height: 100vh;
}

.main-title,
.bm-title {
  display: inline-block;
  font-family: "Germania One", sans-serif;
  font-size: 35px;
  
  margin: 0;
  margin-left: 50%;
}

.main-title-div,
.bm-title-div {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
}

.link {
  color: white;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-list,
.bm-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 90%;
}

.main-list-div,
.bm-list-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);

  transition: transform 330ms ease-in-out;
}

.main-list-div:hover,
.main-list-div:focus,
.bm-list-div:hover,
.bm-list-div:focus {
  transform: scale(1.2);
}

.icon {
  width: 200px;

  /* transition: transform 330ms ease-in-out; */
}
/* 
.icon:hover,
.icon:focus {
  transform: scale(1.2);
} */

.ds3-character {
  width: 535px;
  margin-left: 825px;

  transition: transform 330ms ease-in-out;
}

.ds3-character:hover,
.ds3-character:focus {
  transform: scale(1.1);
}

.ds3-div {
  display: flex;
}

.residency-vusa {
  margin-left: 600px;
  margin-top: 290px;
  width: 100px;

  transition: transform 330ms ease-in-out;
}

.residency-vusa:hover,
.residency-vusa:focus {
  transform: scale(1.8);
}